body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(45deg, #21D4FD 0%, #8721FF 100%);
    height: 250vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.sub-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125%;
    height: 80vw;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0,25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0,3) 0px 8px 16px -8px;
    background-color: white;
    }

h2{
    margin: 1.5rem 0 2rem 0;
    opacity: 0,75;
}
label{
    padding-left: 16px;
    opacity: 0,75;
    display: flex;
    padding-bottom: 3px;
}

input{
    display: flex;
    border-style: none;
    margin-top: 8px;
    padding: 12px;
    width: 650px;
    background-color: #EAEEED;
}
INPUT:focus{
    opacity: 0,7;
}
button{
    padding: 12px 48px;
    border-radius: 50px;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1a1b27;
    font-weight: 600;
    width: 20%;
}

button:hover {
    opacity: 0,8;
    background-color: blue;
}

.bottom-form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.signup{
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #21D4FD;
}

.signup:hover{
    opacity: 0,8;
}